.menu{
    background-color: rgba(255,255,255,0);
    border: 0;
    position: absolute;
    left: 12px;

}

.menu:hover{
    background-color: white;
    cursor: pointer;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

/* input gets space for icon */
.password-wrapper input {
    width: 100%;
    padding-right: 45px; /* IMPORTANT: space for SVG */
}

/* icon container */
.toggle-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.eye-on {
    display: none;
}

.eye-off {
    display: block;
}

#search_btn{
    display: inline-block;
    margin: 0 0 0 1000px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.3 ease;
    z-index: 1000;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    width: 30%;
    height: 100%;
    background: white;
    padding: 0;
    margin: 0;
    visibility: hidden;
    transition: 0.3s ease;
    box-shadow: 2px 0 10px rgba(0,0,0,0.2);
}

.sidebar.active{
    transform: translateX(0);
    visibility: visible;
    z-index: 5;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.sidebar hr {
    width: 100%;
    border: 1.3px solid rgb(112, 112, 112);
    background: rgba(0,0,0,0.2);
    margin: 10px 0;
}

#id{
    
}

.nav_btn{
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 10px 0 10px 0;
    height: 50px;
    text-align: left;
    font-size: 20px;
}

* a {
    text-decoration: none;
    font-family: "Open Sans";
}

.login-info, .signin-info{
    grid-column: 1 / -1;
    justify-self: center;
}

#logout_btn{
    background: #CE2626;
    color: white;
    width: 80%;
    text-decoration: none;
    font-size: 16px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,1);
    box-shadow: 0 0 25px #f75e5e;
    text-align: center;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.sidebar_content{
    background: linear-gradient(135deg, #EEF6F3  , #d2efe4 );
    padding: 25px;
    width: 100%;
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
}

.sidebar_head{
    margin: 0;
    min-width: 100%;
    height: 100px;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #DAF9DE, #CFECF3);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.sidebar_head h1{
    text-align: center;
}

.sidebar_footer{
    width: 100%;
    height: 100px;
    flex: 0 0 100px;
    margin: 0;
    padding: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #DAF9DE, #CFECF3);
    backdrop-filter: blur(6px);
    box-shadow: 0 -8px 20px rgb(0, 0, 0, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    padding: 12px;

}

.circle {
    position:fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(2px);
    overflow: hidden;
}

.circle-1 {
    top: -50px;
    left: -150px;
    background: rgba(160, 204, 221, 0.25);
    overflow: hidden;
}

.circle-2 {
    bottom: -175px;
    right: -100px;
    background: rgba(158, 230, 197, 0.35);
}

.circle-3 {
    width: 250px;
    height: 250px;
    top: 450px;
    left: 85px;

    background: rgba(131, 227, 221, 0.25);
}

.circle-4 {
    width: 300px;
    height: 300px;
    top: 60px;
    right: 85px;

    background: rgba(209, 142, 245, 0.25);
}



.form-wrap {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    
    padding: 25px;
    background: linear-gradient(#eae8dd , #c2d9cd, 0.4);
    backdrop-filter: blur(8px);

    border-radius: 25px;
    border: 2px solid #FFFFFF;

    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.4);
}

.search-wrap{
    min-width: 600px;

    margin: 0 auto;

    
    padding: 25px;
    background: linear-gradient(#eae8dd , #c2d9cd, 0.4);
    backdrop-filter: blur(8px);

    border-radius: 25px;
    border: 2px solid #FFFFFF;

    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.4);
}


.message{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 90%;
    max-width: 600px;
    margin: 15px auto;

    padding: 10px;

    background: rgba(154, 177, 122, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 8px;

    text-align: center;
}

.table{
    
    border-collapse: collapse;
    min-width: 800px;
    border-width: 1;
    margin: 0 auto;
    
    min-width: 800px;
}

.table-wrap {

    padding: 20px;

    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(8px);

    border-radius: 12px;
    border: 1px solid #FFFFFF;

    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}


.table th {
    background: #9AB17A;
    color: white;
    padding: 10px;
}

.table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #FFFFFF;
}

.table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.7);
}



.table tr:hover {
    background-color: #FFFFFF;
}


.footer{
    margin: 0;
    padding: 12px;
    flex: 1;
    display: flex;


    background: linear-gradient(135deg, #DAF9DE, #CFECF3);
    backdrop-filter: blur(6px);
    box-shadow: 0 -8px 20px rgb(0, 0, 0, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    padding: 12px;


}


.hpr_link:visited{
    color: blue;
}

form input{
    border-radius: 10px;
    height: 30px;
    border: solid;
    border-color: #FFFFFF;
    transition: all 0.2s ease;
}

.form {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}



.form label{
    text-align: left;
    font-weight: bold;  
    transition: 0.2s;
}

.form label:hover {
    color: #6b7d5a;
    
}

.search{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "input searchbtn"
        "radios showall";
    gap: 10px;
    align-items: center;
}

#search_btn{
    width: 150px;
    margin: 10px;
    grid-area: searchbtn;
    justify-self: end;
}

.btn {
    margin: 8px 0px 0px 0px;
    grid-column: 2;
    justify-self: center;
    width: 300px;
    height: 30px;
    transition: all 0.2s ease;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 1px solid ;

    font-family: "Open Sans";
    font-size: 14px;

    background-color: #f0f8ef;
    border-color: #9AB17A;
    color: black;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(109, 228, 139, 0.4);
}

#login-btn, #signin-btn{
    width: 200px;
}

.btn:hover{
    background-color: #ffffff;
    transform: translateY(-1px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}



.btn:active{
    background-color: #cdcecd;
}

.form input[type="text"], .form input[type="password"], .form input[type="number"]{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(154, 154, 154);
    background-color: #F6F4E8;
    

}

#status{
    background: #F6F4E8;
    width: 300px;
}

.form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="number"]:focus {
    outline: none;
    border-color: #9AB17A;
    box-shadow: 0 0 0 3px rgba(154, 177, 122, 0.25);
    background: #fffbe9;
}

.form p{
    text-align: center;
    grid-column: 2;

}


.search input[type="text"] {
    grid-area: input;
}

.radio-group {
    display: flex;
    grid-area: radios;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}


.radio-group label {
    display: inline-flex;
    align-items: center;  
    gap: 6px;              
    cursor: pointer;
}

.radio-group input[type="radio"] {
    margin: 0;
    width: 16px;
    height: 16px;
    accent-color: #9AB17A;
    flex-shrink: 0;
}

.radio-item {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    vertical-align: middle;
}

.radio-item input[type="radio"] {
    margin: 0;
    width: 16px;
    height: 16px;
    accent-color: #9AB17A;
    border: 100px solid;
    display: flex;
    align-items: center;
}
.radio-item span {
    line-height: 1;
}

.show-all {
    width: 150px;
    grid-area: showall;
    justify-self: end;
}

head{
    font-family: "Open Sans";
    margin: 0;
    padding: 12px;
    
}

body{
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #F6F4E8, #acdac5);
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}



.head{
    margin: 0;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #DAF9DE, #CFECF3);
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 20px rgb(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.head h1{
    margin: 0;
}


.head p{
    margin:10px 0 10px 0;
}

.content {
    background: linear-gradient(135deg, #EEF6F3  , #D9EFE7 );
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    padding: 20px 20px;
    gap: 25px;
    flex: 1;
    color: #2E3A34;
}
.content h1 {
    grid-column: 1 / -1;
    margin: 0;
    font-size: 24px;
}

.form-wrap h1 {
    margin: 0 0 15px 0;
    
    text-align: center;
    font-size: 22px;
}